@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

body {
    font-size: 1rem;
    margin-right: 20px;
    margin-left: 20px;
}

/*---------------- Brand ----------------*/ 
.navbar-brand {
    font-family: 'Kadwa', serif;
    font-size: 2rem;
}


/*---------------- Navbar ----------------*/
.navbar {
    padding: 1.5rem 3rem;

}

/*---------------- Intro Text ----------------*/

.intro-text {
    font-size: 1.5rem;
    font-weight: 600;
}

/*---------------- Profile Image ----------------*/
.profile_image {
    width: 100%;
}

/*---------------- Media Queries ----------------*/
@media (min-width: 760px) {
    body {
        margin-right: 10%;
        margin-left: 10%; 
    }
}